[submodule "configServer/ContainerSSH"]
	path = ContainerSSH
	url = https://github.com/ContainerSSH/ContainerSSH.git
[submodule "containerSSH-configServer"]
	path = configServer
	url = git@github.com:patsys/containerSSH-configServer
[submodule "containerSSH-authServer"]
	path = authServer
	url = git@github.com:patsys/containerSSH-authServer
